.textbox {
  flex: 1;
  height: 85vh;
  font-family: monospace;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.page {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: row;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;    
}